{% extends 'base.html' %}

{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Гаджет</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена за шт</th>
                <th scope="col">Валюта</th>
                <th scope="col">Общая цена</th>
                <th scope="col">Удаление</th>
            </tr>
            </thead>
            <tbody>
            {% for phone in basket %}
                    <tr>
                        <td>
                            <a href="{% url 'details' phone.id %}">
                                {{ phone.name }}
                            </a>
                        </td>

                        <td>
                            {{ phone.count_prod }}
                        </td>
                        <td>
                            {{ phone.price_prod }}
                        </td>
                        <td> руб. </td>
                        <td>
                            {{ phone.sum }}
                        </td>
                        <td>
                            <a href="{% url 'remove_basket_prod' phone.id %}">Удалить</a>
                        </td>
                    </tr>
            {% endfor %}
            <tr>
                    <td>Всего:</td>
                    <td colspan="3"></td>
                    <td><strong>{{ basket.get_total_price }}</strong></td>
            </tr>
            </tbody>
        </table>

        <div>
            <a href="{% url 'shop' %}" class="btn btn-success">Посмотреть еще ...</a>
            <a href="{% url 'clear_basket_prod' %}" class="btn btn-danger">Очистить</a>
            <a href="#" class="btn btn-warning">Оформить заказ</a>
        </div>
    </div>
{% endblock %}