{% extends 'base.html' %}

{% block title %}
Изменение информации о гаджете
{% endblock %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Название</label>
        <div class="col-sm-10">
            {{ form.name}}
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Описание</label>
        <div class="col-sm-10">
            {{ form.description}}
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Цена</label>
        <div class="col-sm-10">
            {{ form.price}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-check">
                <label class="form-check-label" for="exist">На сайте?</label>
                {{ form.exist}}
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'shop' %}">Назад</a>
    <input type="submit" class="btn btn-success" value="Поменять"></input>
</form>

{% endblock %}